{% extends 'base.html' %}

{% block right_nav %}
<div class="form-group navbar-body pull-right">
	<form action="/signin" class="form-inline" method="post">
		<div class="form-group">
			<label class="sr-only" for="username">Username</label>
		    <input type="text" class="form-control" name="username" id="username" placeholder="Username" value="{{request.form.username}}">
		</div>
		<div class="form-group">
			<label class="sr-only" for="password">Password</label>
		    <input type="password" class="form-control" name="password" id="password" placeholder="Password" value="{{request.form.password}}">
		</div>
		<button type="submit" class="btn btn-success">Sign in</button>
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal"> Signup </button>
	</form>
</div>
{% endblock %}

{% block body %}
<br/><br/><br/>
<div class="login-panel panel panel-default" style="width: 80%; margin: 0 auto;">
	<div class="panel-body">
		<div class="message">
			<h3>{{msg}}</h3>
		</div><hr/>
		<div class="login-panel panel-default" style="background: #C8FFCB;">
			<div class="row">
				<div class="col-sm-2">
					<div class="store-name">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/store.png') }}" alt="StoreName.location">
							</a>
							<p>{{StoreName}}StoreName</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
			</div>
		</div><!-- row -->
		<div class="login-panel panel-default" style="background: #C8FFCB;">
			<div class="row">
				<div class="col-sm-2">
					<div class="store-name">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/store.png') }}" alt="StoreName.location">
							</a>
							<p>{{StoreName}}StoreName</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
			</div>
		</div><!-- row -->
		<div class="login-panel panel-default" style="background: #C8FFCB;">
			<div class="row">
				<div class="col-sm-2">
					<div class="store-name">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/store.png') }}" alt="StoreName.location">
							</a>
							<p>{{StoreName}}StoreName</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
			</div>
		</div><!-- row -->
		<div class="login-panel panel-default" style="background: #C8FFCB;">
			<div class="row">
				<div class="col-sm-2">
					<div class="store-name">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/store.png') }}" alt="StoreName.location">
							</a>
							<p>{{StoreName}}StoreName</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
			</div>
		</div><!-- row -->
		<div class="login-panel panel-default" style="background: #C8FFCB;">
			<div class="row">
				<div class="col-sm-2">
					<div class="store-name">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/store.png') }}" alt="StoreName.location">
							</a>
							<p>{{StoreName}}StoreName</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="product-row">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{{ url_for('static', filename='img/product.png') }}" alt="StoreName.location">
							</a>
							<p>{{productname}} product name</p>
						</div>
					</div>
				</div>
			</div>
		</div><!-- row -->
	</div>
</div>
{% endblock %}